<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletBajaIncidencia</servlet-name>
        <servlet-class>controlador.ServletBajaIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionIncidencia</servlet-name>
        <servlet-class>controlador.ServletModificacionIncidencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBajaIncidencia</servlet-name>
        <url-pattern>/ServletBajaIncidencia</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAltaIncidencia</servlet-name>
        <servlet-class>controlador.ServletAltaIncidencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAltaIncidencia</servlet-name>
        <url-pattern>/ServletAltaIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionIncidencia</servlet-name>
        <url-pattern>/ServletModificacionIncidencia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
