<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>usuarioEmergencia</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>contrasenaEmergencia</param-name>
        <param-value>kk</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletBajaIncidencia</servlet-name>
        <servlet-class>controlador.ServletBajaIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionIncidencia</servlet-name>
        <servlet-class>controlador.ServletModificacionIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControlAcceso</servlet-name>
        <servlet-class>controlador.ServletControlAcceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaUsuario</servlet-name>
        <servlet-class>controlador.ServletBajaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionUsuario</servlet-name>
        <servlet-class>controlador.ServletModificacionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfiguracion</servlet-name>
        <servlet-class>controlador.ServletConfiguracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaEstado</servlet-name>
        <servlet-class>controlador.ServletAltaEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaEstado</servlet-name>
        <servlet-class>controlador.ServletBajaEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionEstado</servlet-name>
        <servlet-class>controlador.ServletModificacionEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnvioEmail</servlet-name>
        <servlet-class>controlador.ServletEnvioEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBajaIncidencia</servlet-name>
        <url-pattern>/ServletBajaIncidencia</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAltaIncidencia</servlet-name>
        <servlet-class>controlador.ServletAltaIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaEquipo</servlet-name>
        <servlet-class>controlador.ServletBajaEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaDependencia</servlet-name>
        <servlet-class>controlador.ServletBajaDependencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionDependencia</servlet-name>
        <servlet-class>controlador.ServletModificacionDependencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaDependencia</servlet-name>
        <servlet-class>controlador.ServletAltaDependencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAltaDependencia</servlet-name>
        <url-pattern>/ServletAltaDependencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionDependencia</servlet-name>
        <url-pattern>/ServletModificacionDependencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaDependencia</servlet-name>
        <url-pattern>/ServletBajaDependencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaIncidencia</servlet-name>
        <url-pattern>/ServletAltaIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionIncidencia</servlet-name>
        <url-pattern>/ServletModificacionIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControlAcceso</servlet-name>
        <url-pattern>/ServletControlAcceso</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAltaTipoEquipo</servlet-name>
        <servlet-class>controlador.ServletAltaTipoEquipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAltaTipoEquipo</servlet-name>
        <url-pattern>/ServletAltaTipoEquipo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletModificacionTipoEquipo</servlet-name>
        <servlet-class>controlador.ServletModificacionTipoEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionEquipo</servlet-name>
        <servlet-class>controlador.ServletModificacionEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaEquipo</servlet-name>
        <servlet-class>controlador.ServletAltaEquipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletModificacionTipoEquipo</servlet-name>
        <url-pattern>/ServletModificacionTipoEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaUsuario</servlet-name>
        <url-pattern>/ServletBajaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionUsuario</servlet-name>
        <url-pattern>/ServletModificacionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfiguracion</servlet-name>
        <url-pattern>/ServletConfiguracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaEstado</servlet-name>
        <url-pattern>/ServletAltaEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaEstado</servlet-name>
        <url-pattern>/ServletBajaEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionEstado</servlet-name>
        <url-pattern>/ServletModificacionEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnvioEmail</servlet-name>
        <url-pattern>/ServletEnvioEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaEquipo</servlet-name>
        <url-pattern>/ServletBajaEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionEquipo</servlet-name>
        <url-pattern>/ServletModificacionEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaEquipo</servlet-name>
        <url-pattern>/ServletAltaEquipo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorexcepcion.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
