#imagen{
	padding : 0 10px 0 10px;
	margin-left : 170px;
	margin-right : 170px;
	margin-top : 0;
	line-height : 1.8em;
	width: 539px; 
	height: 479px

	
}
.imagen1{
	 height:258px;
	float:none;
	 width:197;
	 text-align:center;
	 
}
.img1 {
	float: none;
	text-align: center;
}
.img2 {
	font-size: xx-large;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.img {
	text-align: center;
}